mixin storeForm(store = {})
  pre= h.dump(store)
  form(action=`/add/${store._id || ''}` method="POST" class="card")

    // Name
    label(for="name") Name
    input(type="text" name="name" value=store.name)

    // Description
    label(for="description") Description
    textarea(name="description" rows=5)=store.description

    // Address, lng, lat
    label(for="address") Address
    input(type="text" name="location[address]" value=(store.location && store.location.address) id="address")

    label(for="location[coordinates][1]") Address Lat
    input(type="text" id="lat" name="location[coordinates][1]" value=(store.location && store.location.coordinates[1]))

    label(for="location[coordinates][0]") Address Lng
    input(type="text" id="lng" name="location[coordinates][0]" value=(store.location && store.location.coordinates[0]))

    // Tags
    - const choices = ['Wifi', 'Open Late', 'Family Friendly', 'Vegatarian', 'Licensed']
    - const tags = store.tags || []
    ul.tags
      each choice in choices
        .tag.tag__choice
          input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice)))
          label(for=choice) #{choice}

    // Submit
    input(type="submit" value="Save →" class="button")
